.hero {
  background: #121318;
  &__header-name {
    color: var(--accent-color);
  }
  &-bg {
    filter: brightness(0.7);
  }
  &__button {
    transition: 0.25s all ease-in-out;
    &:hover {
      border-color: var(--primary-color);
      background: var(--primary-color);
    }
  }
}
