.primary-header {
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
  width: 100%;
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 500;
}
.primary-header__container {
  padding: 0 3rem;
}
.hamburger {
  height: 100%;
  width: 100%;
}
.primary-nav {
  text-align: center;
  background: white;
  width: 100%;
  transition: 0.5s all ease-in-out;
  z-index: 1001;
}

.open {
  opacity: 1;
  display: flex;
}
.primary-nav-container {
  transition: 0.5s all ease-in-out;
}

@media (max-width: 35em) {
  .primary-header__container {
    flex-direction: column;
    padding: 0;
  }
  .primary-nav {
    flex-direction: column;
    opacity: 0;
    position: absolute;
  }
  .primary-nav-container {
    width: 100%;
  }
  .mobile-nav-toggle {
    background: transparent;
    border-radius: 5px;
    z-index: 500;
    display: block;
  }
  .primary-nav-item {
    padding: 0.5rem;
    border-top: 1px solid #eee;
    font-size: 1.6rem;
  }
  .primary-nav-item a {
    width: 100%;
    display: block;
  }
  .open {
    opacity: 1;
    display: flex;
  }
  .header__logo-container {
    padding: 0 2rem;
  }
}

/* Taken from Kevin Powell tutorial*/
.mobile-nav-toggle .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.mobile-nav-toggle[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.mobile-nav-toggle[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}

.mobile-nav-toggle[aria-expanded="true"] .top {
  rotate: 45deg;
}

.mobile-nav-toggle[aria-expanded="true"] .middle {
  opacity: 0;
}
.mobile-nav-toggle[aria-expanded="true"] .bottom {
  rotate: -45deg;
}
